// $mainHeight: calc(100vh - 150px);
$mainHeight: calc(100vh - #{$headerHeight});
$bgColor: teal;

.Sassy__main {
  background-color: $bgColor;
  height: $mainHeight;
  width: 100%;
  overflow: hidden;

  @include flexBox;

  // The % symbol lets you create styles that are not directly 
  // applied to any actual element but which can be extended
  %box {
    height: 200px;
    width: 200px;
    margin: 10px;
    background-color: tomato;
  }
  
  // @extend
  .box-1 {
    @extend %box;
  }
  .box-2 {
    @extend %box;
    background-color: purple;
  }
  .box-3 {
    @extend %box;
  }
}



$numBoxes: 3;

// function
@function step($num) {
  @return #{$num * 50}px;
}

// loop
@for $i from 1 through $numBoxes {
  .box-#{$i} {
    position: relative;
    top: step($i);
  }
}